* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


body {
        height: 100vh;
        overflow: hidden;
}


.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100vw;
}

.outside_col {
        width: 16.66665%;
        background-color: #000;
}

.center_col {
        width: 66.66666%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
}

.top {
        height: 10%;
        background-color: #000;
}

.middle {
        height: 80%;
}

.bottom {
        height: 25%;
        background-color: #000;
}


.first_square {
    position: relative;
    text-align: justify;
    content: "hello";
    width: 10%;
    height: 10%;
    background-color: red;
    -webkit-animation-name: example;
            animation-name: example;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    
}









@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:100%; top:0px;}
    50%  {background-color:blue; left:100%; top:100%;}
    75%  {background-color:green; left:0px; top:100%;}
    100% {background-color:red; left:0px; top:0px;}
  }









@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:90%; top:0px;}
    50%  {background-color:blue; left:90%; top:90%;}
    75%  {background-color:green; left:0px; top:90%;}
    100% {background-color:red; left:0px; top:0px;}
  }

