* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


body {
        height: 100vh;
        overflow: hidden;
}


.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100vw;
}

.outside_col {
        width: 16.66665%;
        background-color: #000;
}

.center_col {
        width: 66.66666%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
}

.top {
        height: 10%;
        background-color: #000;
}

.middle {
        height: 80%;
}

.bottom {
        height: 25%;
        background-color: #000;
}

/***********************CANNON***********************/

#little_firing_cannon {
        -webkit-animation: shot 0.8s ease 0s 1 alternate;
                animation: shot 0.8s ease-in 0s 1 normal;
        
}

#dark_cannon_hole {
        -webkit-animation: shot_2 0.8s ease-in 0s 1 normal;
                animation: shot_2 0.8s ease-in 0s 1 normal;
}

@-webkit-keyframes shot {
        0%{
                d: path("M150,125 Q129.39,105.55 150,75 L185.8,65.41 Q171.37,94.28 198.3,112.06 Z")
        }
        50%{
                d: path("M150,125 Q129.39,105.55 150,75 L176.14,68 Q161.7,96.86 188.64,114.65 Z")
        }
        100%{
                d: path("M150,125 Q129.39,105.55 150,75 L185.8,65.41 Q171.37,94.28 198.3,112.06 Z")
        }
}

@keyframes shot {
        0%{
                d: path("M150,125 Q129.39,105.55 150,75 L185.8,65.41 Q171.37,94.28 198.3,112.06 Z")
        }
        50%{
                d: path("M150,125 Q129.39,105.55 150,75 L176.14,68 Q161.7,96.86 188.64,114.65 Z")
        }
        100%{
                d: path("M150,125 Q129.39,105.55 150,75 L185.8,65.41 Q171.37,94.28 198.3,112.06 Z")
        }
}

@-webkit-keyframes shot_2 {
        0%{
                d: path("M185.8,65.41 Q171.37,94.28 198.3,112.06 Z")
        }
        50%{
                d: path("M176.14,68 Q161.7,96.86 188.64,114.65 Z") 
        }
        100%{
                d: path("M185.8,65.41 Q171.37,94.28 198.3,112.06 Z")
        }
}

@keyframes shot_2 {
        0%{
                d: path("M185.8,65.41 Q171.37,94.28 198.3,112.06 Z")
        }
        50%{
                d: path("M176.14,68 Q161.7,96.86 188.64,114.65 Z") 
        }
        100%{
                d: path("M185.8,65.41 Q171.37,94.28 198.3,112.06 Z")
        }
}

